@import url(style.css);

a {
  text-decoration: none;
  color: #000;
}

.contenedor__layout {
  display: grid;
  grid-template-columns: 280px 1fr 280px;
  grid-template-rows: auto;
  grid-template-areas: "sidebar main aside";
  height: 100vh;
  padding: calc(20px + 52px) 10px;
  gap: 1rem;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.sidebar__profile-box {
  width: 100%;
  background-color: #fff;
}

.profile-box__img-fondo {
  width: 100%;
}

.profile-box__content {
  position: relative;
  height: calc(360px - 83.73px - 60px);
  padding: 20px;
  padding-bottom: 10px;
}

.profile-box__img-perfil {
  position: absolute;
  height: 90px;
  width: 90px;
  top: -45px;
  left: 30px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.profile-box__info-account {
  list-style: none;
  margin: 20px 0;
}

.info_account-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.info_account-item p {
  font-size: 13px;
  color: #777;
}

.info_account-item span {
  font-size: 13px;
  color: #2874b1;
}

.profile-box__nombre {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.profile-box__job {
  font-weight: 500;
  font-size: 14px;
  color: #777;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__online {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-box__link {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #ccc;
  align-items: center;
}

.link__item {
  display: flex;
  padding: 10px;
  font-size: 13px;
  align-items: center;
}

.link__item img {
  width: 20px;
  margin-right: 10px;
}

.link__item:nth-child(2) {
  border-left: 1px solid #ccc;
}

.sidebar__activity {
  margin-top: 12px;
  background-color: #fff;
  margin-top: 12px;
  padding-top: 10px;
}

.discover-more-box-link {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.discover-more-link {
  color: #2874b1;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  transition: 0.5s;
}

.discover-more-link:hover {
  background-color: #edf3f8;
}

.activity-lista-box {
  padding: 10px 20px;
}

.activity-lista-box__item {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 4px 0;
  padding: 4px 2px;
  transition: 0.5s;
}

.activity-lista-box__item:hover {
  background-color: #edf3f8;
}

.item__icono {
  font-size: 1.2rem;
  margin-right: 10px;
  font-weight: 600;
  color: #2874b1;
}

.activity-lista-box__title {
  margin-bottom: 10px;
  color: #777;
  font-size: 14px;
  font-weight: 500;
}

.item__description {
  font-size: 12px;
  font-weight: 500;
  color: #888;
}

.profile-menu {
  z-index: 10;
  /* display: none; */
  visibility: hidden;
  position: absolute;
  background-color: #222;
  padding: 20px;
  width: 320px;
  transition: 0.3s;
  max-height: 0px;
  top: 100%;
  right: 0;
  overflow: hidden;
}

.input__profile-menu:checked ~ .profile-menu {
  visibility: visible;
  max-height: 400px;
}

.input__profile-menu {
  display: none;
  visibility: hidden;
}

.header__right {
  position: relative;
}

.user-info__foto-perfil {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.profile-menu__user-info {
  display: flex;
  align-items: center;
}

.link-box__link {
  display: flex;
  margin: 12px 0;
  align-items: center;
  color: #fff;
}

.user-info__name,
.link-box__name-action {
  color: #fff;
}

.link-box__image-action {
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}

.link-box__name-action {
  width: 100%;
  font-size: 14px;
}

.user-info__see-profile {
  color: #c9dbf8;
  font-size: 13px;
}

.user-info__name {
  font-weight: 500;
  margin-bottom: -7px;
}

.profile-menu .profile-menu__separacion {
  margin: 15px 0 10px;
}

.crear-post-box {
  background-color: #fff;
}

.crear-post-box__top {
  display: flex;
  padding: 20px 25px 15px;
  width: 100%;
}

.crear-post-box__top .top__imagen {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.top__escribir {
  border: 0;
  outline: none;
  background: transparent;
  margin-top: 8px;
  width: 100%;
}

.top__escribir::placeholder {
  font-size: 14px;
}

.crear-post-box__links {
  display: flex;
  justify-content: space-evenly;
}

.crear-post-box__links .link__icon {
  font-size: 1.4rem;
  color: #2874b1;
  margin-right: 5px;
}

.crear-post-box__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 100%;
  height: 40px;
  transition: 0.5s;
}

.crear-post-box__link:hover {
  background-color: #cdcdcd;
}

.crear-post-box__links .crear-post-box__link:last-child:hover {
  color: #000000;
  background-color: #cdcdcd;
  font-weight: 600;
}

.link__nombre {
  font-size: 13px;
}

.crear-post-box__link:last-child {
  border-right: 0;
  background-color: #2874b1;
  color: #fff;
}

.short-by {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.short-by__division {
  flex: 1;
  border: 0;
  height: 1px;
  background-color: #ccc;
}

.short-by__palabra {
  font-size: 13px;
  padding-left: 5px;
}

.short-by__palabra span {
  font-weight: 600;
  cursor: pointer;
}

.short-by__palabra img {
  width: 12px;
  margin-left: 3px;
  z-index: 0;
}

.aside {
  grid-area: aside;
}

.contenedor-post {
  padding: 20px 25px 5px;
  margin: 5px 0 15px;
  background-color: #fff;
  color: #5f5f5f;
}

.contenedor-post__info-propietario {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contenedor-post__text-post {
  font-size: 14px;
  margin-bottom: 15px;
}

.contenedor-post__foto-propietario {
  width: 35px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 10px;
}

.contenedor-post__imagen-post {
  width: 100%;
}

.info-propietario__contenedor {
  display: flex;
  flex-direction: column;
}

.info-propietario__nombre {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.info-propietario__hora-post,
.info-propietario__perfil-profesional {
  font-size: smaller;
  margin-top: -2px;
}

.contenedor-post__estadisticas {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}

.estadisticas__izquierda {
  display: flex;
  align-items: center;
  gap: 5px;
}

.estadisticas__imagen-reacciones {
  width: 15px;
  height: 15px;
}

.acciones-sociales-contenedor__acciones,
.acciones-sociales-contenedor__usuario {
  display: flex;
  align-items: center;
}

.acciones-sociales-contenedor__imagen-usuario {
  width: 22px;
  border-radius: 50%;
  margin-right: 5px;
}

.acciones-sociales-contenedor__flecha-abajo {
  width: 12px;
}

.contenedor-post__acciones-sociales-contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 0;
}

.acciones-sociales-contenedor__imagen-accion {
  width: 18px;
  margin-right: 8px;
}

.sidebar-noticias {
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  background-color: #fff;
}

.sidebar-noticias__titulo-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 30px;
}

.titulo-contenedor__titulo {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.titulo-contenedor__imagen-info {
  width: 15px;
  height: 15px;
}

.sidebar-noticias__noticia-contenedor {
  display: flex;
  flex-direction: column;
  color: #5f5f5f;
  font-size: 12px;
  margin-top: 10px;
}

.noticia-contenedor__noticia-titulo {
  font-weight: 600;
  color: #5f5f5f;
}

.sidebar-noticias__leer-mas {
  margin: 20px 0 10px;
  color: #2874b1;
  font-weight: 500;
  font-size: 12px;
}

.sidebar-anuncio {
  background-color: #fff;
}

.sidebar-anuncio {
  display: flex;
  flex-direction: column;
  color: #5f5f5f;
  align-items: center;
  margin: 12px 0;
  padding: 15px 25px;
  position: sticky;
  top: 70px;
}

.sidebar-anuncio__texto-simbolo {
  align-self: end;
  font-size: small;
  font-weight: 500;
  font-size: 10px;
}

.sidebar-anuncio__imagenes-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sidebar-anuncio__imagen {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.sidebar-anuncio__titulo-anuncio {
  font-size: 12px;
  margin: 20px 0 14px;
}

.sidebar-anuncio__anunciante {
  font-size: 12px;
  margin-top: 14px;
  font-weight: 500;
}

.sidebar-anuncio__link-learn {
  margin: 20px 0 10px;
  padding: 5px 15px;
  border: 1px solid #2874b1;
  border-radius: 30px;
  color: #2874b1;
  font-weight: 500;
  font-size: 12px;
}

.sidebar-footer {
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: sticky;
  top: calc(73px + 250px);
}

.sidebar-footer__link {
  color: #5f5f5f;
  font-size: 14px;
  margin: 4px 3px;
  display: inline-block;
}

.sidebar-footer__legal-info {
  color: #5f5f5f;
  font-size: 12px;
}

.sidebar-footer__logo {
  width: 18px;
  height: 18px;
}

.sidebar-footer__legal-contenedor {
  gap: 4px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

@media (width < 1100px) {
  .contenedor__layout {
    grid-template-columns: 260px 1fr;
    grid-template-areas: "sidebar main";
  }

  .aside {
    display: none;
  }
}

@media (width < 770px) {
  .contenedor__layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar"
      "main";
  }

  .icono__nombre {
    display: none;
  }

  .navegador__lista .navegador__item {
    min-width: 45px;
  }

  .buscador__input {
    display: none;
  }

  .header__left .buscador {
    border-radius: 50%;
    width: auto;
  }
  /* .buscador__icono {
    display: block;
  } */
}
